@font-face {
  font-family: 'font-texte';
  src: url('/src/assets/fonts/ppneuemontreal-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'font-titre';
  src: url('/src/assets/fonts/ppneuemontreal-semibolditalic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Mode clair */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html, body {
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'font-texte', sans-serif;
}

/*Page d'accueil */

/* Navbar */
.barre-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.heure-actuelle,
.nom,
.portfolio {
  font-size: 1rem;
}

/* Navbar desktop */
@media (min-width: 600px) {
  .barre-navigation {
    padding: 1rem 2rem;
  }
  .heure-actuelle,
  .nom,
  .portfolio {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .barre-navigation {
    padding: 1rem 4rem;
  }
  .heure-actuelle,
  .nom,
  .portfolio {
    font-size: 1.5rem;
  }
}

/* Conteneur principal */
#app {
  position: relative;
  margin-top: 3rem;
  height: calc(100vh - 3rem);
  overflow: hidden;
}

/* Liens verticaux */
.liens-vertical {
  position: absolute;
  top: 40%;
  left: calc(45% + 5rem);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lien {
  color: var(--text-color);
  text-decoration: none;
  font-family: 'font-titre', sans-serif;
  font-weight: 500;
  font-size: clamp(3rem, 8vw, 12rem);
  text-align: left;
}

.liens-vertical .lien {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.liens-vertical:hover .lien:not(:hover) {
  transform: scale(0.8);
}

.liens-vertical .lien:hover {
  transform: scale(1.2);
  filter: none;
}

/* Mobile (<600px) */
@media (max-width: 599px) {
  .liens-vertical {
    position: absolute;
    top: calc(100vw + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    gap: 3rem;
    z-index: 1;
  }

  .lien {
    font-size: clamp(2.5rem, 8vw, 6rem);
    white-space: nowrap;
  }
}

/* Mode sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .barre-navigation,
  .lien,
  .nom,
  .portfolio,
  .heure-actuelle {
    color: var(--text-color);
  }
}


